<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blueeffect_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{152,186}</string>
                <key>spriteSourceSize</key>
                <string>{160,194}</string>
                <key>textureRect</key>
                <string>{{1255,1},{152,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blueeffect_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{152,184}</string>
                <key>spriteSourceSize</key>
                <string>{160,194}</string>
                <key>textureRect</key>
                <string>{{1565,1},{152,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blueeffect_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,3}</string>
                <key>spriteSize</key>
                <string>{148,180}</string>
                <key>spriteSourceSize</key>
                <string>{160,194}</string>
                <key>textureRect</key>
                <string>{{1719,1},{148,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blueeffect_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{154,184}</string>
                <key>spriteSourceSize</key>
                <string>{160,194}</string>
                <key>textureRect</key>
                <string>{{1409,1},{154,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blueeffect_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,2}</string>
                <key>spriteSize</key>
                <string>{152,190}</string>
                <key>spriteSourceSize</key>
                <string>{160,194}</string>
                <key>textureRect</key>
                <string>{{161,1},{152,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blueeffect_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{156,186}</string>
                <key>spriteSourceSize</key>
                <string>{160,194}</string>
                <key>textureRect</key>
                <string>{{939,1},{156,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blueeffect_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{156,186}</string>
                <key>spriteSourceSize</key>
                <string>{160,194}</string>
                <key>textureRect</key>
                <string>{{1097,1},{156,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blueeffect_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{158,190}</string>
                <key>spriteSourceSize</key>
                <string>{160,194}</string>
                <key>textureRect</key>
                <string>{{1,1},{158,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blueeffect_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{152,190}</string>
                <key>spriteSourceSize</key>
                <string>{160,194}</string>
                <key>textureRect</key>
                <string>{{315,1},{152,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blueeffect_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{158,188}</string>
                <key>spriteSourceSize</key>
                <string>{160,194}</string>
                <key>textureRect</key>
                <string>{{623,1},{158,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blueeffect_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{152,190}</string>
                <key>spriteSourceSize</key>
                <string>{160,194}</string>
                <key>textureRect</key>
                <string>{{469,1},{152,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blueeffect_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{154,188}</string>
                <key>spriteSourceSize</key>
                <string>{160,194}</string>
                <key>textureRect</key>
                <string>{{783,1},{154,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>handout_blue.png</string>
            <key>size</key>
            <string>{1868,192}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3844b8cb56990c06ebc28fb1ee3da623:f26a2721cf4f368302889e3a12fa1978:4a1db420802c640d14a5584a0921563b$</string>
            <key>textureFileName</key>
            <string>handout_blue.png</string>
        </dict>
    </dict>
</plist>
