<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>create_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,328}</string>
                <key>spriteSourceSize</key>
                <string>{241,328}</string>
                <key>textureRect</key>
                <string>{{331,1},{241,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,328}</string>
                <key>spriteSourceSize</key>
                <string>{241,328}</string>
                <key>textureRect</key>
                <string>{{661,1},{241,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,328}</string>
                <key>spriteSourceSize</key>
                <string>{241,328}</string>
                <key>textureRect</key>
                <string>{{991,1},{241,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,328}</string>
                <key>spriteSourceSize</key>
                <string>{241,328}</string>
                <key>textureRect</key>
                <string>{{1321,1},{241,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,328}</string>
                <key>spriteSourceSize</key>
                <string>{241,328}</string>
                <key>textureRect</key>
                <string>{{1,242},{241,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,328}</string>
                <key>spriteSourceSize</key>
                <string>{241,328}</string>
                <key>textureRect</key>
                <string>{{331,244},{241,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,328}</string>
                <key>spriteSourceSize</key>
                <string>{241,328}</string>
                <key>textureRect</key>
                <string>{{661,244},{241,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,328}</string>
                <key>spriteSourceSize</key>
                <string>{241,328}</string>
                <key>textureRect</key>
                <string>{{991,244},{241,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,328}</string>
                <key>spriteSourceSize</key>
                <string>{241,328}</string>
                <key>textureRect</key>
                <string>{{1321,244},{241,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,328}</string>
                <key>spriteSourceSize</key>
                <string>{241,328}</string>
                <key>textureRect</key>
                <string>{{1,485},{241,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,328}</string>
                <key>spriteSourceSize</key>
                <string>{241,328}</string>
                <key>textureRect</key>
                <string>{{331,487},{241,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,328}</string>
                <key>spriteSourceSize</key>
                <string>{241,328}</string>
                <key>textureRect</key>
                <string>{{661,487},{241,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,328}</string>
                <key>spriteSourceSize</key>
                <string>{241,328}</string>
                <key>textureRect</key>
                <string>{{991,487},{241,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,328}</string>
                <key>spriteSourceSize</key>
                <string>{241,328}</string>
                <key>textureRect</key>
                <string>{{1321,487},{241,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{239,328}</string>
                <key>spriteSourceSize</key>
                <string>{241,328}</string>
                <key>textureRect</key>
                <string>{{1,1},{239,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,328}</string>
                <key>spriteSourceSize</key>
                <string>{241,328}</string>
                <key>textureRect</key>
                <string>{{1,728},{241,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,328}</string>
                <key>spriteSourceSize</key>
                <string>{241,328}</string>
                <key>textureRect</key>
                <string>{{331,730},{241,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,328}</string>
                <key>spriteSourceSize</key>
                <string>{241,328}</string>
                <key>textureRect</key>
                <string>{{661,730},{241,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,328}</string>
                <key>spriteSourceSize</key>
                <string>{241,328}</string>
                <key>textureRect</key>
                <string>{{991,730},{241,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,328}</string>
                <key>spriteSourceSize</key>
                <string>{241,328}</string>
                <key>textureRect</key>
                <string>{{1321,730},{241,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>handout.png</string>
            <key>size</key>
            <string>{1650,972}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b61eee601bb7f3a368fa4a137673cb35:52ef39f4c43eeed5950220c4cc9d0ab8:72a6a6e1a68cc3025a8223a65614f760$</string>
            <key>textureFileName</key>
            <string>handout.png</string>
        </dict>
    </dict>
</plist>
