<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>singleSequence_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,460},{146,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,74}}</string>
                <key>sourceSize</key>
                <string>{146,74}</string>
            </dict>
            <key>singleSequence_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,442},{80,45}}</string>
                <key>offset</key>
                <string>{-77,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,27},{80,45}}</string>
                <key>sourceSize</key>
                <string>{254,107}</string>
            </dict>
            <key>singleSequence_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,336},{104,47}}</string>
                <key>offset</key>
                <string>{-66,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,26},{104,47}}</string>
                <key>sourceSize</key>
                <string>{254,107}</string>
            </dict>
            <key>singleSequence_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,532},{136,51}}</string>
                <key>offset</key>
                <string>{-52,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,24},{136,51}}</string>
                <key>sourceSize</key>
                <string>{254,107}</string>
            </dict>
            <key>singleSequence_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,399},{154,59}}</string>
                <key>offset</key>
                <string>{-43,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,22},{154,59}}</string>
                <key>sourceSize</key>
                <string>{254,107}</string>
            </dict>
            <key>singleSequence_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,306},{172,61}}</string>
                <key>offset</key>
                <string>{-37,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,22},{172,61}}</string>
                <key>sourceSize</key>
                <string>{254,107}</string>
            </dict>
            <key>singleSequence_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{184,65}}</string>
                <key>offset</key>
                <string>{-32,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,20},{184,65}}</string>
                <key>sourceSize</key>
                <string>{254,107}</string>
            </dict>
            <key>singleSequence_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,237},{198,67}}</string>
                <key>offset</key>
                <string>{-26,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{198,67}}</string>
                <key>sourceSize</key>
                <string>{254,107}</string>
            </dict>
            <key>singleSequence_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{210,71}}</string>
                <key>offset</key>
                <string>{-20,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{210,71}}</string>
                <key>sourceSize</key>
                <string>{254,107}</string>
            </dict>
            <key>singleSequence_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,162},{210,73}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{210,73}}</string>
                <key>sourceSize</key>
                <string>{254,107}</string>
            </dict>
            <key>singleSequence_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,85},{218,75}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{218,75}}</string>
                <key>sourceSize</key>
                <string>{254,107}</string>
            </dict>
            <key>singleSequence_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,369},{154,82}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,82}}</string>
                <key>sourceSize</key>
                <string>{158,86}</string>
            </dict>
            <key>singleSequence_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{218,79}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,12},{218,79}}</string>
                <key>sourceSize</key>
                <string>{254,107}</string>
            </dict>
            <key>singleSequence_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{220,81}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{220,81}}</string>
                <key>sourceSize</key>
                <string>{254,107}</string>
            </dict>
            <key>singleSequence_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{218,81}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,13},{218,81}}</string>
                <key>sourceSize</key>
                <string>{254,107}</string>
            </dict>
            <key>singleSequence_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,239},{184,79}}</string>
                <key>offset</key>
                <string>{17,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,16},{184,79}}</string>
                <key>sourceSize</key>
                <string>{254,107}</string>
            </dict>
            <key>singleSequence_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{156,77}}</string>
                <key>offset</key>
                <string>{33,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,18},{156,77}}</string>
                <key>sourceSize</key>
                <string>{254,107}</string>
            </dict>
            <key>singleSequence_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,453},{150,77}}</string>
                <key>offset</key>
                <string>{36,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,18},{150,77}}</string>
                <key>sourceSize</key>
                <string>{254,107}</string>
            </dict>
            <key>singleSequence_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{124,77}}</string>
                <key>offset</key>
                <string>{51,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,17},{124,77}}</string>
                <key>sourceSize</key>
                <string>{254,107}</string>
            </dict>
            <key>singleSequence_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,535},{122,79}}</string>
                <key>offset</key>
                <string>{52,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,15},{122,79}}</string>
                <key>sourceSize</key>
                <string>{254,107}</string>
            </dict>
            <key>singleSequence_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,188},{110,75}}</string>
                <key>offset</key>
                <string>{60,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,16},{110,75}}</string>
                <key>sourceSize</key>
                <string>{254,107}</string>
            </dict>
            <key>singleSequence_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,300},{88,75}}</string>
                <key>offset</key>
                <string>{72,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,16},{88,75}}</string>
                <key>sourceSize</key>
                <string>{254,107}</string>
            </dict>
            <key>singleSequence_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,377},{156,84}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{156,84}}</string>
                <key>sourceSize</key>
                <string>{162,90}</string>
            </dict>
            <key>singleSequence_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,585},{72,75}}</string>
                <key>offset</key>
                <string>{80,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,14},{72,75}}</string>
                <key>sourceSize</key>
                <string>{254,107}</string>
            </dict>
            <key>singleSequence_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,524},{62,71}}</string>
                <key>offset</key>
                <string>{85,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,18},{62,71}}</string>
                <key>sourceSize</key>
                <string>{254,107}</string>
            </dict>
            <key>singleSequence_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,369},{42,57}}</string>
                <key>offset</key>
                <string>{93,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,31},{42,57}}</string>
                <key>sourceSize</key>
                <string>{254,107}</string>
            </dict>
            <key>singleSequence_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,306},{28,49}}</string>
                <key>offset</key>
                <string>{99,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,31},{28,49}}</string>
                <key>sourceSize</key>
                <string>{254,107}</string>
            </dict>
            <key>singleSequence_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,306},{28,49}}</string>
                <key>offset</key>
                <string>{99,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,31},{28,49}}</string>
                <key>sourceSize</key>
                <string>{254,107}</string>
            </dict>
            <key>singleSequence_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,237},{16,13}}</string>
                <key>offset</key>
                <string>{-103,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,53},{16,13}}</string>
                <key>sourceSize</key>
                <string>{254,107}</string>
            </dict>
            <key>singleSequence_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,269},{20,19}}</string>
                <key>offset</key>
                <string>{-101,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,48},{20,19}}</string>
                <key>sourceSize</key>
                <string>{254,107}</string>
            </dict>
            <key>singleSequence_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,239},{28,23}}</string>
                <key>offset</key>
                <string>{-98,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,44},{28,23}}</string>
                <key>sourceSize</key>
                <string>{254,107}</string>
            </dict>
            <key>singleSequence_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,519},{34,29}}</string>
                <key>offset</key>
                <string>{-96,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,40},{34,29}}</string>
                <key>sourceSize</key>
                <string>{254,107}</string>
            </dict>
            <key>singleSequence_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,488},{40,29}}</string>
                <key>offset</key>
                <string>{-96,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,42},{40,29}}</string>
                <key>sourceSize</key>
                <string>{254,107}</string>
            </dict>
            <key>singleSequence_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,428},{58,41}}</string>
                <key>offset</key>
                <string>{-87,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,31},{58,41}}</string>
                <key>sourceSize</key>
                <string>{254,107}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>singleSequence.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff15b4d0313243a0d6df2dd76a8d5d01:1/1$</string>
            <key>textureFileName</key>
            <string>singleSequence.png</string>
        </dict>
    </dict>
</plist>
