<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bjj_002.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>122</integer>
				<key>originalWidth</key>
				<integer>312</integer>
				<key>originalHeight</key>
				<integer>432</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>21</real>
				<key>offsetY</key>
				<real>33</real>
			</dict>
			<key>bjj_008.png</key>
			<dict>
				<key>width</key>
				<integer>132</integer>
				<key>height</key>
				<integer>161</integer>
				<key>originalWidth</key>
				<integer>312</integer>
				<key>originalHeight</key>
				<integer>432</integer>
				<key>x</key>
				<integer>102</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>13.5</real>
			</dict>
			<key>bj_010.png</key>
			<dict>
				<key>width</key>
				<integer>132</integer>
				<key>height</key>
				<integer>163</integer>
				<key>originalWidth</key>
				<integer>312</integer>
				<key>originalHeight</key>
				<integer>432</integer>
				<key>x</key>
				<integer>236</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>14.5</real>
			</dict>
			<key>bjj_012.png</key>
			<dict>
				<key>width</key>
				<integer>132</integer>
				<key>height</key>
				<integer>157</integer>
				<key>originalWidth</key>
				<integer>312</integer>
				<key>originalHeight</key>
				<integer>432</integer>
				<key>x</key>
				<integer>370</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>11.5</real>
			</dict>
			<key>bj_014.png</key>
			<dict>
				<key>width</key>
				<integer>132</integer>
				<key>height</key>
				<integer>158</integer>
				<key>originalWidth</key>
				<integer>312</integer>
				<key>originalHeight</key>
				<integer>432</integer>
				<key>x</key>
				<integer>504</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>12</real>
			</dict>
			<key>bj_001.png</key>
			<dict>
				<key>width</key>
				<integer>59</integer>
				<key>height</key>
				<integer>103</integer>
				<key>originalWidth</key>
				<integer>312</integer>
				<key>originalHeight</key>
				<integer>432</integer>
				<key>x</key>
				<integer>638</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>40.5</real>
			</dict>
			<key>bjj_003.png</key>
			<dict>
				<key>width</key>
				<integer>125</integer>
				<key>height</key>
				<integer>157</integer>
				<key>originalWidth</key>
				<integer>312</integer>
				<key>originalHeight</key>
				<integer>432</integer>
				<key>x</key>
				<integer>699</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>8.5</real>
				<key>offsetY</key>
				<real>15.5</real>
			</dict>
			<key>bj_000.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>312</integer>
				<key>originalHeight</key>
				<integer>432</integer>
				<key>x</key>
				<integer>826</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>155.5</real>
				<key>offsetY</key>
				<real>-215.5</real>
			</dict>
			<key>k_000.png</key>
			<dict>
				<key>width</key>
				<integer>139</integer>
				<key>height</key>
				<integer>145</integer>
				<key>originalWidth</key>
				<integer>312</integer>
				<key>originalHeight</key>
				<integer>432</integer>
				<key>x</key>
				<integer>829</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-25.5</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>k_001.png</key>
			<dict>
				<key>width</key>
				<integer>215</integer>
				<key>height</key>
				<integer>145</integer>
				<key>originalWidth</key>
				<integer>312</integer>
				<key>originalHeight</key>
				<integer>432</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>165</integer>
				<key>offsetX</key>
				<real>12.5</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>k_002.png</key>
			<dict>
				<key>width</key>
				<integer>223</integer>
				<key>height</key>
				<integer>145</integer>
				<key>originalWidth</key>
				<integer>312</integer>
				<key>originalHeight</key>
				<integer>432</integer>
				<key>x</key>
				<integer>217</integer>
				<key>y</key>
				<integer>165</integer>
				<key>offsetX</key>
				<real>14.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>k_009.png</key>
			<dict>
				<key>width</key>
				<integer>222</integer>
				<key>height</key>
				<integer>145</integer>
				<key>originalWidth</key>
				<integer>312</integer>
				<key>originalHeight</key>
				<integer>432</integer>
				<key>x</key>
				<integer>442</integer>
				<key>y</key>
				<integer>165</integer>
				<key>offsetX</key>
				<real>16</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>k_010.png</key>
			<dict>
				<key>width</key>
				<integer>223</integer>
				<key>height</key>
				<integer>145</integer>
				<key>originalWidth</key>
				<integer>312</integer>
				<key>originalHeight</key>
				<integer>432</integer>
				<key>x</key>
				<integer>666</integer>
				<key>y</key>
				<integer>165</integer>
				<key>offsetX</key>
				<real>16.5</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>k_011.png</key>
			<dict>
				<key>width</key>
				<integer>139</integer>
				<key>height</key>
				<integer>145</integer>
				<key>originalWidth</key>
				<integer>312</integer>
				<key>originalHeight</key>
				<integer>432</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>312</integer>
				<key>offsetX</key>
				<real>-27.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>k_012.png</key>
			<dict>
				<key>width</key>
				<integer>147</integer>
				<key>height</key>
				<integer>160</integer>
				<key>originalWidth</key>
				<integer>312</integer>
				<key>originalHeight</key>
				<integer>432</integer>
				<key>x</key>
				<integer>141</integer>
				<key>y</key>
				<integer>312</integer>
				<key>offsetX</key>
				<real>-31.5</real>
				<key>offsetY</key>
				<real>-11</real>
			</dict>
			<key>k_014.png</key>
			<dict>
				<key>width</key>
				<integer>156</integer>
				<key>height</key>
				<integer>222</integer>
				<key>originalWidth</key>
				<integer>312</integer>
				<key>originalHeight</key>
				<integer>432</integer>
				<key>x</key>
				<integer>290</integer>
				<key>y</key>
				<integer>312</integer>
				<key>offsetX</key>
				<real>-36</real>
				<key>offsetY</key>
				<real>-42</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>jiqiang0.png</string>
			<key>realTextureFileName</key>
			<string>jiqiang0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>