<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LieHuo_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,2},{48,49}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,49}}</string>
                <key>sourceSize</key>
                <string>{48,51}</string>
            </dict>
            <key>LieHuo_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,2},{48,49}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,49}}</string>
                <key>sourceSize</key>
                <string>{48,51}</string>
            </dict>
            <key>LieHuo_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{48,49}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,49}}</string>
                <key>sourceSize</key>
                <string>{48,51}</string>
            </dict>
            <key>LieHuo_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,2},{48,49}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,49}}</string>
                <key>sourceSize</key>
                <string>{48,51}</string>
            </dict>
            <key>LieHuo_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,2},{48,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,51}}</string>
                <key>sourceSize</key>
                <string>{48,51}</string>
            </dict>
            <key>LieHuo_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{48,49}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,49}}</string>
                <key>sourceSize</key>
                <string>{48,51}</string>
            </dict>
            <key>LieHuo_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,2},{48,47}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,47}}</string>
                <key>sourceSize</key>
                <string>{48,51}</string>
            </dict>
            <key>LieHuo_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,2},{48,47}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,47}}</string>
                <key>sourceSize</key>
                <string>{48,51}</string>
            </dict>
            <key>LieHuo_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,2},{48,47}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,47}}</string>
                <key>sourceSize</key>
                <string>{48,51}</string>
            </dict>
            <key>LieHuo_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,2},{48,47}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,47}}</string>
                <key>sourceSize</key>
                <string>{48,51}</string>
            </dict>
            <key>LieHuo_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,2},{48,49}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,49}}</string>
                <key>sourceSize</key>
                <string>{48,51}</string>
            </dict>
            <key>LieHuo_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{48,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,51}}</string>
                <key>sourceSize</key>
                <string>{48,51}</string>
            </dict>
            <key>LieHuo_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,2},{48,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,51}}</string>
                <key>sourceSize</key>
                <string>{48,51}</string>
            </dict>
            <key>LieHuo_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,2},{48,47}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,47}}</string>
                <key>sourceSize</key>
                <string>{48,51}</string>
            </dict>
            <key>LieHuo_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{48,49}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,49}}</string>
                <key>sourceSize</key>
                <string>{48,51}</string>
            </dict>
            <key>LieHuo_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,51}}</string>
                <key>sourceSize</key>
                <string>{48,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LieHuo.pvr.ccz</string>
            <key>size</key>
            <string>{823,52}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e3b1ffd4bf3eab65da3e0800d9ee910:1/1$</string>
            <key>textureFileName</key>
            <string>LieHuo.pvr.ccz</string>
        </dict>
    </dict>
</plist>
