<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rocket_piece_anim_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,526},{24,20}}</string>
                <key>offset</key>
                <string>{6,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,133},{24,20}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>rocket_piece_anim_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,836},{106,88}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,90},{106,88}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>rocket_piece_anim_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,836},{142,128}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,62},{142,128}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>rocket_piece_anim_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,688},{170,146}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,51},{170,146}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>rocket_piece_anim_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{190,160}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,44},{190,160}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>rocket_piece_anim_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{202,168}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,40},{202,168}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>rocket_piece_anim_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{208,172}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,38},{208,172}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>rocket_piece_anim_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{214,178}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,34},{214,178}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kingBomb_02.pvr.ccz</string>
            <key>size</key>
            <string>{222,980}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:074b6f31d2d1316c55fe1ac249ab86cb:1/1$</string>
            <key>textureFileName</key>
            <string>kingBomb_02.pvr.ccz</string>
        </dict>
    </dict>
</plist>
