<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rocket_smoke_anim_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,1202},{126,86}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,154},{126,86}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>rocket_smoke_anim_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{462,208}}</string>
                <key>offset</key>
                <string>{-18,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,128},{462,208}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>rocket_smoke_anim_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,1028},{172,96}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,158},{172,96}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>rocket_smoke_anim_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1226},{214,120}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,147},{214,120}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>rocket_smoke_anim_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,878},{246,148}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,128},{246,148}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>rocket_smoke_anim_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,1028},{294,172}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,114},{294,172}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>rocket_smoke_anim_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,878},{346,192}}</string>
                <key>offset</key>
                <string>{-12,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,112},{346,192}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>rocket_smoke_anim_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{440,214}}</string>
                <key>offset</key>
                <string>{-6,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,110},{440,214}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>rocket_smoke_anim_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{476,226}}</string>
                <key>offset</key>
                <string>{-8,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,108},{476,226}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>rocket_smoke_anim_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{454,220}}</string>
                <key>offset</key>
                <string>{-18,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,116},{454,220}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kingBomb_03.pvr.ccz</string>
            <key>size</key>
            <string>{490,1348}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f71cda3316d4ed15fa133df03181b36:1/1$</string>
            <key>textureFileName</key>
            <string>kingBomb_03.pvr.ccz</string>
        </dict>
    </dict>
</plist>
