<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rocket_fire_anim_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{286,106}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,56},{286,106}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>rocket_fire_anim_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,700},{272,118}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,46},{272,118}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>rocket_fire_anim_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,820},{270,120}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,41},{270,120}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>rocket_fire_anim_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,830},{266,122}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,41},{266,122}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>rocket_fire_anim_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,354},{276,120}}</string>
                <key>offset</key>
                <string>{5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,50},{276,120}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>rocket_fire_anim_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,476},{276,116}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,52},{276,116}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>rocket_fire_anim_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,226},{278,124}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,40},{278,124}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>rocket_fire_anim_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{276,116}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,51},{276,116}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>rocket_fire_anim_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{280,114}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,49},{280,114}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>rocket_fire_anim_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,236},{278,116}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,44},{278,116}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>rocket_fire_anim_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,716},{272,112}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,51},{272,112}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>rocket_fire_anim_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,352},{278,112}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,51},{278,112}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>rocket_fire_anim_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{274,118}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,55},{274,118}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>rocket_fire_anim_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{286,114}}</string>
                <key>offset</key>
                <string>{7,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,56},{286,114}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>rocket_fire_anim_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,122},{280,112}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,54},{280,112}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>rocket_fire_anim_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{278,118}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,45},{278,118}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>rocket_fire_anim_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,584},{276,114}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,47},{276,114}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>rocket_fire_anim_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,2},{276,120}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,42},{276,120}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>rocket_fire_anim_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,110},{280,114}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,45},{280,114}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>rocket_fire_anim_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,722},{270,104}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,53},{270,104}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>rocket_fire_anim_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,942},{268,114}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,50},{268,114}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>rocket_fire_anim_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,828},{232,112}}</string>
                <key>offset</key>
                <string>{22,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,50},{232,112}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>rocket_fire_anim_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,466},{276,116}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,48},{276,116}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>rocket_fire_anim_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,2},{282,118}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,48},{282,118}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>rocket_fire_anim_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,594},{272,120}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,47},{272,120}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>rocket_fire_anim_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,942},{264,120}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,48},{264,120}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>rocket_fire_anim_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,556},{270,128}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,40},{270,128}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>rocket_fire_anim_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{276,128}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,42},{276,128}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>rocket_fire_anim_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,280},{274,132}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,38},{274,132}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kingBomb_01.pvr.ccz</string>
            <key>size</key>
            <string>{984,1064}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71d9a5156c568fe7128a94362b40b999:1/1$</string>
            <key>textureFileName</key>
            <string>kingBomb_01.pvr.ccz</string>
        </dict>
    </dict>
</plist>
