<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lord_anim_bomb_frame1.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,2},{227,333}}</string>
                <key>offset</key>
                <string>{38,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,2},{227,333}}</string>
                <key>sourceSize</key>
                <string>{381,413}</string>
            </dict>
            <key>lord_anim_bomb_frame10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,734},{275,297}}</string>
                <key>offset</key>
                <string>{-6,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,76},{275,297}}</string>
                <key>sourceSize</key>
                <string>{381,413}</string>
            </dict>
            <key>lord_anim_bomb_frame11.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,690},{287,311}}</string>
                <key>offset</key>
                <string>{-6,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,68},{287,311}}</string>
                <key>sourceSize</key>
                <string>{381,413}</string>
            </dict>
            <key>lord_anim_bomb_frame12.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,2},{299,323}}</string>
                <key>offset</key>
                <string>{-7,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,62},{299,323}}</string>
                <key>sourceSize</key>
                <string>{381,413}</string>
            </dict>
            <key>lord_anim_bomb_frame13.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,353},{311,335}}</string>
                <key>offset</key>
                <string>{-7,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,57},{311,335}}</string>
                <key>sourceSize</key>
                <string>{381,413}</string>
            </dict>
            <key>lord_anim_bomb_frame14.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,2},{321,349}}</string>
                <key>offset</key>
                <string>{-7,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,49},{321,349}}</string>
                <key>sourceSize</key>
                <string>{381,413}</string>
            </dict>
            <key>lord_anim_bomb_frame15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,371},{335,361}}</string>
                <key>offset</key>
                <string>{-8,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,43},{335,361}}</string>
                <key>sourceSize</key>
                <string>{381,413}</string>
            </dict>
            <key>lord_anim_bomb_frame16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{293,367}}</string>
                <key>offset</key>
                <string>{9,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,38},{293,367}}</string>
                <key>sourceSize</key>
                <string>{381,413}</string>
            </dict>
            <key>lord_anim_bomb_frame17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1395,2},{301,239}}</string>
                <key>offset</key>
                <string>{10,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,33},{301,239}}</string>
                <key>sourceSize</key>
                <string>{381,413}</string>
            </dict>
            <key>lord_anim_bomb_frame18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1150,2},{303,243}}</string>
                <key>offset</key>
                <string>{10,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,30},{303,243}}</string>
                <key>sourceSize</key>
                <string>{381,413}</string>
            </dict>
            <key>lord_anim_bomb_frame19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1395,243},{301,233}}</string>
                <key>offset</key>
                <string>{8,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,30},{301,233}}</string>
                <key>sourceSize</key>
                <string>{381,413}</string>
            </dict>
            <key>lord_anim_bomb_frame2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,763},{233,255}}</string>
                <key>offset</key>
                <string>{40,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,80},{233,255}}</string>
                <key>sourceSize</key>
                <string>{381,413}</string>
            </dict>
            <key>lord_anim_bomb_frame3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1361,763},{229,157}}</string>
                <key>offset</key>
                <string>{37,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,179},{229,157}}</string>
                <key>sourceSize</key>
                <string>{381,413}</string>
            </dict>
            <key>lord_anim_bomb_frame4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,307},{281,195}}</string>
                <key>offset</key>
                <string>{0,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,144},{281,195}}</string>
                <key>sourceSize</key>
                <string>{381,413}</string>
            </dict>
            <key>lord_anim_bomb_frame5.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,353},{349,251}}</string>
                <key>offset</key>
                <string>{9,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,96},{349,251}}</string>
                <key>sourceSize</key>
                <string>{381,413}</string>
            </dict>
            <key>lord_anim_bomb_frame6.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,327},{311,283}}</string>
                <key>offset</key>
                <string>{-27,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,130},{311,283}}</string>
                <key>sourceSize</key>
                <string>{381,413}</string>
            </dict>
            <key>lord_anim_bomb_frame7.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,734},{275,225}}</string>
                <key>offset</key>
                <string>{-2,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,135},{275,225}}</string>
                <key>sourceSize</key>
                <string>{381,413}</string>
            </dict>
            <key>lord_anim_bomb_frame8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1387,478},{293,283}}</string>
                <key>offset</key>
                <string>{-3,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,88},{293,283}}</string>
                <key>sourceSize</key>
                <string>{381,413}</string>
            </dict>
            <key>lord_anim_bomb_frame9.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,704},{303,285}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,82},{303,285}}</string>
                <key>sourceSize</key>
                <string>{381,413}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Bomb.pvr.ccz</string>
            <key>size</key>
            <string>{1698,1011}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:88f722d4526f108a5b8d1907cdba52d2:1/1$</string>
            <key>textureFileName</key>
            <string>Bomb.pvr.ccz</string>
        </dict>
    </dict>
</plist>
